.charts {
    .loader {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
        }
    }
    .div {
        display: grid;
        margin-top: 11px;

        h3 {
            margin: auto;
            margin-bottom: 9px;
            font-family: cursive;
        }
    }
}
