.charts {
    .loader {
        display: flex;
        justify-content: center;
        img {
            width: 50%;
            // margin: auto;
        }
    }
    .div {
        display: grid;
        margin-top: 28px;

        h3 {
            margin: auto;
        }
    }
}
