<div class="contact-container">
    <contact-filter *ngIf="!selectedContactId"></contact-filter>
    <contact-list [contacts]="contacts" [isAtEdit]="isAtEdit" *ngIf="!selectedContactId" (onSelectContact)="selectedContactId=$event"></contact-list>
    <contact-details *ngIf="selectedContactId" [isAtEdit]="isAtEdit"  [contactId]="selectedContactId"></contact-details>
    <div class="back-btn" *ngIf="selectedContactId&&!isAtHome">
        <button (click)="selectedContactId=null">Go Back</button>
    </div>
  
 <!-- <router-outlet></router-outlet> -->
</div>
