.home-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .user-area {
        margin: 15% auto;
        .btc {
            img {
                width: 45px;
                margin-bottom: -5px;
            }
        }
    }
    .moves {
        margin: auto;
        width: 94%;
    }
}
