.home-page-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    .user-area {
        margin: 15% auto;
        padding-top: 57px;
        h1 {
            font-family: cursive;
            color: #063735;
            margin-bottom: 48px;
            text-align: center;
            text-shadow: 2px -1px 4px #000000a3;
        }
        .btc {
            margin-top: 12px;
            img {
                width: 45px;
                margin-bottom: -9.5px;
            }
        }
        span {
            margin-top: 5%;
            margin-left: 11px;
            font-size: 25px;
            font-family: cursive;
            color: #05433d;
        }
        .user-coins {
            display: flex;
            justify-self: center;
        }
    }
    .moves {
        margin: auto;
        width: 94%;
    }
}
@media (min-width: 500px) {
    .home-page-container {
        .user-area {
            padding-top: 0;
        }
        .moves {
            margin-top: -15vh;
        }
    }
}
