.contact-details {
    margin: 7%;
    padding-top: 40px;
    .details-top {
        .top-btns {
            display: flex;
            justify-content: space-between;
            margin-left: 0;
            img {
                width: 50px;
                cursor: pointer;
            }
            .pencil img {
                background-color: inherit;
                border-radius: inherit;
            }
        }
    }

    img {
        background-color: #b1d5d5;
        border-radius: 50%;
        width: 97px;
        margin-top: 30px;
        cursor: pointer;
    }
    .contact-info {
        list-style: none;
        margin-left: -29px;
        line-height: 29px;
        font-size: 19px;
        font-family: cursive;
        color: #001d17;
    }
    .transfer {
        background-color: #79799457;
        padding: 8%;
        text-align: center;
        border-radius: 5px;
        p {
            margin-bottom: 27px;
            margin-top: -2px;
            font-size: 17px;
            font-family: cursive;
            color: #031d1a;
        }
        input {
            height: 27px;
            border: 1.5px solid;
            padding-left: 4px;
            border-right: none;
            font-size: 16px;
        }
        .btn {
            height: 32px;
            border: 1px solid;
            font-weight: bold;
            background-color: #0000003d;
            padding-top: 4px;
        }
    }
    .specificMoves {
        background-color: #08524773;
        border-radius: 3px;
        padding: 1%;
        margin-top: 20px;
        p {
            margin-left: 40px;
            font-size: 17px;
            font-weight: bold;
            font-family: cursive;
        }
    }
}
@media (min-width: 500px) {
    .contact-details {
        margin-top: 1%;
        margin-bottom: 0%;
        padding-top: 64px;
        .transfer {
            padding: 2%;
        }
    }
}
