<div class="contact-details">
    <div class="details-top">
        <div class="top-btns">
            <div class="back">
                <img src="assets/imgs/back.png" (click)="onGoToContacts()">
            </div>
            <div class="pencil">
                <img src="assets/imgs/edit.png" [routerLink]="['/edit',contact._id]" />
            </div>
        </div>
        <img src="https://robohash.org/set_set5/{{contact._id}}?size=50x50">
    </div>

    <ul class="contact-info">
        <li><b> Name: </b> {{contact.name}}</li>
        <li><b>Phone:</b> {{contact.phone}}</li>
        <li><b> Email:</b> {{contact.email}}</li>
    </ul>
    <div class="transfer">
        <p>Transfer coins to {{contact.name}}</p>
        <input type="text" [(ngModel)]="amount" placeholder="#">
        <button (click)="onTransfer()" class="btn"><span>Transfer</span></button>
    </div>
    <div class="specificMoves">
        <div class="top">
            <p class="moves-title">Your Moves:</p>
            <hr>
            <spec-moves-preview *ngFor="let move of specMoves" [move]="move"></spec-moves-preview>
        </div>
    </div>
</div>