form {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    input {
        width: 30%;
        height: 2.5rem;
        margin-top: 10px;
        border: 2px solid gray;
        border-radius: 4px;
        padding-left: 10px;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
}
@media (max-width: 500px) {
    form {
        height: 54px;
        position: fixed;
        top: 65.9px;
        width: 90%;
        background-color: white;
        padding-top: 2%;
        padding-bottom: 3.5%;
        input {
            width: 100%;
            font-family: -webkit-pictograph;
            font-size: 17px;
        }
    }
}
