form {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
    input {
        width: 30%;
        height: 2.5rem;
        margin-top: 10px;
        border: 2px solid gray;
        border-radius: 8px;
        padding-left: 10px;
        font-size: 16px;
        &:focus {
            outline: none;
        }
    }
}
@media (max-width: 500px) {
    form {
        input {
            width: 93%;
        }
    }
}
