<div class="main-container">
    <!-- <home-page></home-page> -->
    <!-- <contact-page [isAtHome]="isAtHome"></contact-page> -->
    <!-- <statistic-page ></statistic-page> -->
    <!-- <button (click)="isAtHome=true">Home</button>
    <button (click)="isAtContact=true">Contact-Page</button>
    <button (click)="isAtHome=false&&isAtContact=false&&isAtChart=true">Chart-Page</button> -->
    <nav>
        <div class="logo">
            <img routerLink="" src="assets/imgs/logo.png" />
        </div>
        <ul>
            <li>
                <a routerLink="" routerLinkActive="active-nav" [routerLinkActiveOptions]="{exact:true}">
                    <img src="assets/imgs/home.png" alt="">
                </a>
            </li>
            <li>
                <a routerLink="contact" routerLinkActive="active-nav">
                    <img src="assets/imgs/users.png" alt="">
                </a>
            </li>
            <li>
                <a routerLink="chart" routerLinkActive="active-nav">
                    <img src="assets/imgs/increase.png" />
                </a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>