.main-container {
    nav {
        height: 66px;
        background-color: #008b8b;
        display: flex;
        align-items: center;
        position: fixed;
        width: 103%;
        overflow-x: hidden;
        overflow-y: hidden;
        top: 0;
        .logo{
            img{
                width: 50px;
                position: absolute;
                top: 1vh;
                left: 2vh;
                cursor: pointer;
                &:focus{
                    outline: none;
                }
            }
        }
        ul {
            list-style: none;
            display: flex;
            margin-right: 40px;
            justify-content: flex-end;
            width: 100%;
            margin-right: 80px;
            & > li {
                text-decoration: none;
                margin-top: auto;
                margin-left: 50px;
                img {
                    width: 42px;
                }
            }
        }
        .active-nav {
            font-weight: bold;
            border-bottom: 3px solid #07322e;
            text-decoration: none;
        }
    }
}

@media screen and (max-width: 500px) {
    .main-container {
        nav {
      
            height: 65px;
            background-color: #008b8b;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: fixed;
            width: 109%;
            overflow-x: hidden;
            top: 0;
            left: -32px;
        
            .logo{
                display: none;
            }
            ul {
                list-style: none;
                display: flex;
                margin-right: 40px;
                justify-content: space-between;
                width: 100%;
                & > li {
                    text-decoration: none;
                    margin-top: auto;
                    img {
                        width: 42px;
                    }
                }
            }
            .active-nav {
                font-weight: bold;
                border-bottom: 3px solid #07322e;
                text-decoration: none;
            }
        }
    }
}
