.contact-edit {
    .edit-top {
        margin-top: -15%;
        .top-btns {
            display: flex;
            justify-content: space-between;
            img {
                width: 50px;
            }
            .delete img {
                background-color: inherit;
            }
        }
    }
    margin: 20% 6%;
    form {
        width: 50%;
        margin: auto;
        .contact-info {
            div {
                input {
                    margin-left: 10px;
                    height: 40px;
                    font-size: 16px;
                    padding-left: 9px;
                    width: 85%;
                    border: 2px solid gray;
                    border-radius: 4px;
                    margin-bottom: 20px;
                }
            }
        }
    }
    img {
        background-color: #b1d5d5;
        border-radius: 50%;
        width: 97px;
        margin-left: 10px;
        margin-bottom: 30px;
    }
}
@media (max-width: 500px) {
    .contact-edit {
        margin-top: 38%;
        .edit-top {
            margin-top: -16%;
            margin-left: 1%;
        }
        form {
            margin-left: 2%;
            width: 100%;
            .save-btn {
                margin-right: 25.5px;
                width: 77px;
                padding: 3%;
                background-color: #b3b3b3;
                border: none;
                border-radius: 2.5px;
                font-size: initial;
                color: #313131;
                font-family: cursive;
                font-weight: bold;
                padding-bottom: 12px;
            }
            .contact-info {
                div {
                    input {
                        height: 40px;
                        font-size: 16px;
                        padding-left: 9px;
                        width: 85%;
                        border: 2px solid gray;
                        border-radius: 4px;
                        margin: 8px 3px 15px 10px;
                    }
                }
            }
        }
    }
}
