.contact-preview {
    background-color: #8080804d;
    padding-left: 25%;
    margin: 10px;
    border-radius: 17px;
    cursor: pointer;
    transition: 0.1s;
    display: grid;
    height: 100%;
    justify-content: start;
    box-shadow: 0 0 20px 0px #0000001f;

    &:hover {
        background-color: #80808077;
    }
}
@media (max-width: 500px) {
    .contact-preview {
        display: flex;
        background-color: #8080804d;
        margin: 8px;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.1s;
        justify-content: start;
        width: 96%;
        margin: 13px auto;
        &:hover {
            background-color: #80808077;
        }
    }
}
