.contact-preview {
    background-color: #8080804d;
    margin: 10px;
    border-radius: 17px;
    cursor: pointer;
    transition: 0.1s;
    display: grid;
    height: 100%;
    justify-content: center;
    box-shadow: 0 0 20px 0px #0000001f;

    &:hover {
        background-color: #80808077;
    }
    .img {
        align-self: center;
        margin: auto;
        img {
            width: 78px;
        }
    }
    .user-details {
        line-height: 9px;
        text-align: center;
    }
}
@media (max-width: 500px) {
    .contact-preview {
        display: flex;
        background-color: #8080804d;
        margin: 8px;
        /* height: 57px; */
        padding: 8px;
        border-radius: 7px;
        cursor: pointer;
        transition: 0.1s;
        justify-content: start;
        width: 95.05%;
        margin: 10px auto;
        padding-left: unset;
        &:hover {
            background-color: #80808077;
        }
        .img {
            img {
                margin-left: 2px;
            }
        }
        .user-details {
            line-height: 4px;
            font-size: larger;
            margin-top: -6px;
            font-family: -webkit-pictograph;
            font-weight: bold;
            color: #043531;
            margin-left: 8px;
            text-align: unset;
        }
        .img {
            align-self: unset;
            margin: unset;
            img {
                width: unset;
            }
        }
    }
}
