/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}
.moves-title {
    margin-left: 18px;
    font-size: 19px;
    font-weight: bold;
    font-family: cursive;
    color: #063735;
}
